<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>

    <body>

        <%- include('./partials/nav.ejs')%>
            <main>
               <h1>My blogs</h1>
               <p>
                Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.
               </p>
            </main>
            <%- include('./partials/footer.ejs')%>
    </body>

</html>